.sprint-page {
  background-color: rgb(82, 82, 92);
  height: 100vh;
  font-size: 32px;
}

.sprint-page__controls {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  padding: 30px;
}

.sprint-btn {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.sprint-btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.back-icon {
  background-image: url("../../assets/svg/arrow-back.svg");
}

.game-control {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.sound-icon {
  background-image: url("../../assets/svg/volume-on.svg");
}

.screen-icon {
  background-image: url("../../assets/svg/expand.svg");
}

.game-box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 600px;
  margin: 0 auto;
}

.sprint-page__game-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  padding: 10px 20px;
}

.sprint-page__game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(243 233 233 / 70%);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbulbs {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
}

.game-points {
  align-self: flex-end;
}

.sprint-page__score {
  align-self: flex-end;
}

.bulbs {
  width: 30px;
  height: 30px;
  background-image: url("../../assets/svg/lightbulb.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.bulb-yellow {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
  transition: 0.3s;
}

.question-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 10px;
}

.game-keys {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.answer-btn {
  width: 190px;
  padding: 16px 20px;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.5s ease-out;
}

.answer-btn:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.key-wrong {
  background-color: #a70b0b;
}

.key-right {
  background-color: #25a70b;
}

.score-imgs {
  padding: 10px;
}

.pokemon {
  display: inline;
  width: 80px;
  height: 80px;
}

.cycleTimerBox {
  display: inline-block;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
}
