.audio-challenge-page {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgba(210, 108, 106, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 150px 0;
}

.audio-challenge-page__audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.audio-challenge-page__answer-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: none;
}

.audio-challenge-page__right-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  gap: 20px;
}

.audio-challenge-page__right-answer-word {
  display: none;
}

.audio-challenge-page__audio-btn {
  background-color: rgba(250, 252, 254, .4);
  border-radius: 50%;
  color: white;
  border: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: .4s;
}

.audio-challenge-page__audio-btn:active {
  width: 70px;
  height: 70px;
}

.audio-challenge-page__audio-btn:hover {
  background-color: rgba(250, 252, 254, .2);
}

.audio-challenge-page__audio-btn i {
  color: white;
}

.audio-challenge-page__words {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.audio-challenge-page__words-btn {
  min-width: 180px;
  max-width: 300px;
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
  transition: .4s;
  margin: 40px 0;
  background-color: #537895;
  color: white;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .3);
  padding: 20px 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.audio-challenge-page__words-btn:hover {
  transform: scale(1.1);
}

.audio-challenge-page__next-btn {
  width: 190px;
  border: 3px solid black;
  border-radius: 25px;
  cursor: pointer;
  background-color: #537895;
  color: white;
  transition: .4s;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .3);
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.audio-challenge-page__next-btn:hover {
  transform: scale(1.1);
}