.word-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.category__button {
    height: 70px;
    width: 180px;
    background-color: rgba(210, 108, 106, .4);
    display: flex;
    border-radius: 0.5rem;
    color: #2c2647;
    font-size: 1rem;
    justify-content: center;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.category__buttons {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


.MuiOutlinedInput-notchedOutline legend{
    font-size: 2em;
}

.pagination__container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected  {
    background-color:rgba(210, 108, 106, .4) !important;
}