.card {
    display: flex;
    background-color: #537895;
    margin: 10px;
    border-radius: 10px;
    width: 80%;
}

.card__img-wrapper {
    margin: 20px;
}

.card__img{
    width: 300px;
    height: 250px;
}

.card__content {
    margin: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.card__titel{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.card__example {
    margin-bottom: 10px;
}

.sound__button {
    margin-left: 10px;
}

.card__titel-wrapper{
    display: flex;
}